* {
    margin: 0;
    font-family: 'BodoniSvtyTwoITCTT-Book', serif;
    font-weight: lighter;
    text-decoration: none;
    color: #6c737b;
}

body{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100vw;
}

p {
    font-size: 4vh;
}

img {
    max-height: 100%;
}

.card {
    display: grid;
}

a {
    font-size: 3.5vh;
    font-weight: 100;
    margin: 30px 2vw 40px 0;
    font-family: sans-serif;
}

nav {
    align-self: flex-start;
    width: 50vw;
    border-bottom: black solid .5px;
    margin: 14vh 0 12vh 8vw;
}

#topnav a {
    font-size: 4.5vh
}

#topnav {
    margin-bottom: 3vh;
}

.a {
    height: 95vh;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(2, 1fr);
}

#headimg {
    background-image: url(https://raw.githubusercontent.com/CerealKitten/final-project/master/assets/Moose.jpg);
    background-repeat: no-repeat;
    background-position: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
}

h1 {
    font-size: 25vh;
    width: 40vw;
    color: #e34f61;
    line-height: .8;
}

#heada {
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-left:-5vw;
    margin-top: 5.5vh;
}

#pa {
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: -5vw;
}

section {
    margin-bottom: 10vh;
}

.b {
    height: 79vh;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3, 1fr);
}

h2 {
    font-size: 12vh;
    color: #e34f61;
}

#pb {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;
    columns: 2;
    margin-top: 5vh;
}

#headb {
    grid-column-start: 2;
    grid-column-end: 4;
}

.c {
    height: 95vh;
    width: 100vw;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(5, 1fr);
}

#headc {
    font-size: 21vh;
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 4;
    margin-left: 1.5vw;
}

#cimg {
    background-image: url(https://raw.githubusercontent.com/CerealKitten/final-project/master/assets/Moose.jpg);
    background-repeat: no-repeat;
    background-position: center;
    grid-column-start: 4;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 6;
}

.button {
    justify-self: center;
    background-color: #a0b1b6;
    border-radius: 3px;
    color: white;
    font-size: 3vh;
    width: 10vw;
    padding: 3vh;
}

#butc {
    grid-column-start: 2;
    grid-row-start: 4;
}

.col2 {
    height: 80vh;
    column-count: 2;
    column-width: 100vw;
    display: flex;
    flex-flow: column wrap;
    line-height: 4.5vh;
}

.d {
    width: 80vw;
}

.colelement {
    margin-top: 3vh;
}

h3 {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 8vh;
    color: #e34f61;
    margin-top: 1.5vh;
    margin-bottom: 2vh;
}

.e {
    width: 100vw;
    height: 110vh;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(8, 1fr);
}

.heade {
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 2;
}

.subheade {
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 3;
}

.tranny {
    background-color: #dff;
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 8;
    margin-top: -5px;
    margin-bottom: -50px;
    opacity: .5;
}

.eimg {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 9;
    margin-left: -12vw;
    margin-top: -5vh;
}

.col1 {
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 8;
    display: flex;
    flex-flow: column nowrap;
    align-content: left;
    margin-left: 3vw;
    width: 33.5vw;
    justify-content: space-evenly;
    line-height: 4.5vh;
}

.col1b {
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 8;
    display: flex;
    flex-flow: column nowrap;
    align-content: left;
    justify-content: space-evenly;
    margin-left: 3vw;
    width: 37vw;
    line-height: 4.5vh;
}

.f {
    width: 100vw;
    height: 110vh;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(7, 1fr);
}

.fimg {
    background-image: url(https://raw.githubusercontent.com/CerealKitten/final-project/master/assets/Moose.jpg);
    background-repeat: no-repeat;
    background-position: center;
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 7;
}

#headf {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

#butf {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 8;
    width: 10vw;
    margin-left: -7.5vw;
}

.pf {
    margin-top: 1em;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 7;
}

.col2b {
    height: 140vh;
    line-height: 4.5vh;
    column-count: 2;
    column-width: 100vw;
    display: flex;
    flex-flow: column wrap;
}

.g {
    height: 95vh;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(3, 1fr);
}

#gimg {
    background-image: url(https://raw.githubusercontent.com/CerealKitten/final-project/master/assets/Moose.jpg);
    background-repeat: no-repeat;
    background-position: center;
    grid-column-start: 4;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 4;
}

#headg {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}

.profile{
    max-height: 150vh;
}

.h {
    height: 150vh;
    width: 100vw;
    grid-template-columns: repeat(18,1fr);
    grid-template-rows: repeat(7, 1fr);
}

.profleft{
    grid-column-start: 2;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 8;
}

.right {
    grid-column-start: 9;
    grid-column-end: 19;
    grid-row-start: 2;
    grid-row-end: 7;
}

.pright {
    grid-column-start: 9;
    grid-column-end: 17;
    grid-row-start: 3;
    grid-row-end: 7;
    margin-top: 1vh;
    margin-left: 4vw;
    line-height: 5vh
}

.namright {
    grid-column-start: 9;
    grid-column-end: 17;
    grid-row-start: 2;
    grid-row-end: 7;
    margin-top: 8vh;
    margin-left: 4vw;
}

br {
    font-size: 7vh;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

.i {
    height: 150vh;
    width: 100vw;
    grid-template-columns: repeat(18,1fr);
    grid-template-rows: repeat(7, 1fr);
}

.profright {
    grid-column-start: 9;
    grid-column-end: 19;
    grid-row-start: 1;
    grid-row-end: 8;
    justify-content: right;
}

.left{
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 7;
}

.pleft {
    grid-column-start: 2;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 7;
    margin-top: 1vh;
    margin-left: 3vw;
    line-height: 5vh;
}

.namleft {
    grid-column-start: 2;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 7;
    margin-top: 8vh;
    margin-left: 3vw;
}

.extra {
    grid-row-start: 4;
    margin-top: -5vh;
}

footer {
    background-color: #a0b1b6;
    height: 37vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    margin-left: 10vw;
    max-height: 23vh;
    opacity: .5;
}

#endnav {
    margin-right: 10vw;
    width: 10vw;
    height: 27vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between
}

#pend {
    display: flex;
    justify-content: space-between
}

.social {
    height: 5vh;
}

.endnavelement {
    margin: 0;
    color: white;
    font-size: 2.5vh;
    opacity: .9;
}